:root {
  --primary-color: #ce89c0;
  --chocklet-: #241e15;
}

/* font-family: ; */
.setBG {
  background: url("./assets/landing/flower.svg") no-repeat;
  background-position: top right;
  background-position-y: -120px;
}
.setBGBottom {
  background: url("./assets/landing/flower2.svg") no-repeat;
  background-position: bottom left;
}
.BgBorder {
  background: url("./assets/landing/border3.svg") no-repeat center;
  background-size: contain;
  background-position-y: 50px;
}
.navmodal {
  top: -150%;
  transition: 0.3s;
}
.toggleModal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
